@import "variables.scss";
@import url("https://p.typekit.net/p.css?s=1&k=jkl2lbt&ht=tk&f=26034.26053.26062.26063.25996.25998.26000.26008.41208.41209&a=8179182&app=typekit&e=css");


body{
    background-color: #FFFFFF !important;

    
}

.img-BakeSchool
{
    background: url(../img/MainSite/MainSiteSmile.png) no-repeat center center fixed; 
    height: 110vh;
    background-position-y: -100px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.slogan{
    font-family:"acumin-pro-condensed";
    background-color: $color-recipes;
    font-size: 3rem;
    margin: auto;
    width: 55%;
    padding: 10px;
    border-radius: 20px;
}