$color-backwelt:#F2B532 !important;
$color-recipes: #DC5C49 !important;
$color-backkurs: #7CAFD1 !important;
$color-quiz:#F2B532 !important;

$second-color: #e6b264 !important;
$text-nav: #220901;

$primary-color: #DC5C49 !important;

// $primary-color:#caffbf !important;
// $second-color: #b0e3a7!important;
// $text-nav: #2a623b !important;

// $primary-color:#cbdfbd !important;
// $second-color: #d4e09b !important;
// $text-nav: #2a623b !important;

$text-color:$text-nav;