@import "../variables.scss";

.stepsection{
    background-color: $primary-color;
    opacity: 0.6;
}
.stepcontainer{
   
}

i{
    size: 400px !important;
}
.step-card-container{
    
.stepimg{
        height: 12rem !important;
        border-radius: 30px;
        border: solid 6px black;
}
.stepBox{

    .none{
        color: $second-color !important;
    }
    .show{
        color: $primary-color !important;
    }
    padding: 0 0 0 0  !important;
    h2{
    display: inline;
    }
    hr{
        height: 10px !important ;
        margin: 0 0 0 0;
        padding: 0 0 0 0; 
    }
    .step-amount{
        font-size: 3rem;
        color: black;
    }
}
}



.stepline {
    width: 166px;
    height: 6px;
    background: lightblue;
    display: inline-flex;
    margin-left: 20px;
}