@import '../variables.scss';
.footer-main{
    background-color: transparent;
}
.footercontainer {
    background-color: transparent;
    height: auto;
    li{
     list-style-type: none;
    }
    p{
        color: black
    }
}