@import '../variables.scss';

.footercontainer {
    background-color: $primary-color;
    height: auto;
    margin-top: 1rem;
    li{
     list-style-type: none;
    }
    p{
        color: black
    }
}