@import "../variables.scss";



.category-card-main{
           border: solid 2px $color-backwelt;
           border-radius: 20px;
        h2{
            color: $color-backwelt;
            text-align: center;
            font-family:"acumin-pro-condensed";
            font-size: 3rem;
        }
        .categroy-card-image
        {
            margin: auto !important;
            text-align: left;

            img {
                margin-top: -20px;
                text-align: left !important;
                width: 15rem !important;
                
            }
        }
        .category-card-detailtext{
            margin-top: -25px;
            text-align: left !important;
            float: left;
            height: 76px;
            display: inline;
            margin-bottom: 37px !important;
        }
        .categroy-card-details{
            text-align: left;
            p{
                display: inline;
                margin-bottom: 10px !important;
            }
            margin-top: 20px;
            margin-bottom: 5px;
        }
}
.difficultlogo {
    width: 30px !important;
}

// .card{
//     
// }