@import "../variables.scss";

.explainCard{
    width: 20rem;
    margin: auto;
    .explainImg
    {
        width: 11rem;
    }
    .btn
    {
        border: black solid 1px;
    }
    .btn:hover
    {
        background-color: rgb(130, 139, 136);
    }
}

.color-bakeworld
{
    color: $color-backwelt;
}
.color-quiz
{
    color: $color-quiz;
}
.color-recipe
{
    color: $color-recipes;
}

.explainCardFirst{
    border: $color-backwelt solid 4px;
}
.explainCardsecond{
    border: $color-backwelt solid 4px;
}
.explainCardthird{
    border: $color-backwelt solid 4px;
}