@import "../variables.scss";

.explainCard{
    width: 18rem;
    margin: auto;
    text-align: left !important;
    .card-title-explain{
        text-align: left !important;
        font-family:"acumin-pro-condensed";
        font-weight: bold;
        font-size: 2.5rem;
    }
 
    .explainImg
    {
        width: 13rem !important;
        text-align: left !important;
    }
    a{
        color: white !important	;
    }
    .btn
    {
        width: 100%;
    }
    .btn:hover
    {
        background-color: rgb(28, 26, 26);
    }
    .card-text-explain{
        text-align: left !important;
        font-family:"coordinates";
        font-size: 1rem;
        min-height: 163px !important;
    }
}

a.color-backwelt
{
    background-color: $color-backwelt;
}
a.color-backkurs
{
    background-color: $color-backkurs;
}
a.color-recipe
{
    background-color: $color-recipes;
}


.color-backwelt
{
    color: $color-backwelt;
}
.color-backkurs
{
    color: $color-backkurs;
}
.color-recipe
{
    color: $color-recipes;
}
