@import "../variables.scss";

.backkurs-section{
    .backkurs-header{
        max-width: 1200px !important;
        h1{
            color: $color-backkurs;
            font-family:"acumin-pro-condensed";
            font-weight: 700 !important;
            text-align: left !important;
            font-size: 3.5rem !important;
            margin-top: 60px;
        }
        p{
            text-align: left !important;
            font-size: 20px;
            font-family:"coordinates";
        }
    }
    .backkurs-details{
       
        img{
            width: 20rem !important;
        }
        .backkurs-container-each{
            margin-bottom: 20px !important;
            max-width: 300px;
            h3{
                text-align: left;
                font-family:"acumin-pro";
                font-weight: 800;
                color: $color-backkurs;
            }
            h4{
                text-align: right;
                color: black;
            }
            p{
                text-align: left;
            }
            button{
                font-family:"acumin-pro";
                width: 100%;
                border-radius: 30px;
                background-color: $color-backkurs;
                border: none;
                a{
                    text-transform: uppercase;
                    color:white;
                }
            }
        }
    }
}

img{
    width: 100px !important;
}