@import "../variables.scss";

.backweltHeader
{
    color: #7CAFD1;
    
}
.card-section{
    height: 70vh;
    margin: 3rem;
    padding-top: 1rem;
}
.tablecard{
    background-color: $primary-color;
    border-radius: 1rem;
    
}