@import "../variables.scss";

.recipesList{
    background-color: transparent;
    padding: 3% !important;
    a{
        color: $text-nav;
        font-size: 1.2rem;
        text-decoration: none;
    }
    a:hover{
        color: $primary-color;
    }
    a:active{
        color: red !important;
    }
}

.recipes-container{
    height: 80vh;
    .card-recipe{
        background-color: $second-color;
        border-radius: 1rem;
        
    }
}