@import "../variables.scss";

.recipeHeader
{
    color: #DC5C49;
}

.recipesList{
    background-color: transparent;
    padding: 3% !important;
    a{
        color: $text-nav;
        font-size: 1.2rem;
        text-decoration: none;
    }
    a:hover{
        color: $primary-color;
    }
    a:active{
        color: #DC5C49 !important;
    }
}

.recipes-container{
    height: 80vh;

    .card-recipe{

        .stepImgRecipes
        {
            width: 20rem;
        }
    }
}