@import "../../variables.scss";

.recipeHeader
{
 color: #DC5C49;
}
.recipeHeaderText
{
    
    font-size: 3.5rem !important;
    font-weight: 700 !important;
    text-align: center !important;
}
.recipe-thumbnail
{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    padding: 5px;
    box-shadow: 2px 2px 5px 1px $color-recipes;
}
.recipe-thumbnail:hover
{
  
}
.recipesList{
    background-color: transparent;
    padding: 3% !important;
    border-right: 3px solid $color-recipes;
    font-family:"coordinates";;
    text-align: right;
    h3{
        color: $text-nav ;
        font-weight: 800;
    }
    a{
        
        font-size: 1.2rem;
        text-decoration: none;
    }
    a:hover{
        color: $primary-color;
    }
    a:active{
        
    }
}
.recipeMain{
    h3{
        color:#DC5C49;
    }
    img{
        width: 20rem !important;
    }
}

.main-recipes{
    img{
        width: 15rem !important;
    }
}