@import "../../variables.scss";

.recipeHeader
{
    color: #DC5C49;
}

.recipesList{
    background-color: transparent;
    padding: 3% !important;
    border-right: 3px solid $color-recipes;
    h3{
        color: #DC5C49;
    }
    a{
        
        font-size: 1.2rem;
        text-decoration: none;
    }
    a:hover{
        color: $primary-color;
    }
    a:active{
        
    }
}
.recipeMain{
    h3{
        color:#DC5C49;
    }
    img{
        width: 20rem !important;
    }
}
.recipes-container{
    height: 80vh !important;

    .card-recipe{

        .stepImgRecipes
        {
            width: 20rem !important;
        }
    }
}