@import "../variables.scss";

.aboutUs 
{
    align-items: center;
    text-align: left !important; 
    h2{
        text-align: left !important;
        font-family:"acumin-pro-condensed";
        color: black;
        font-size: 4.5rem;
    }
    p{
    text-align: left !important;
    font-family:"coordinates";
    font-size: 1.7rem;
    margin:auto;
    }
}