@import "../../Style/variables.scss";


.containerViewBox{
    background-color: #FFFFFF;
    h3{
        color:$color-backwelt;
        font-size: 2.5rem;
    }
    img{
       
    }
    .imgBig{
        padding: 5px;
        
    }
    .imgMd{
        padding: 10px;
       
    }
    .imgSm{
        padding: 20px;
     
    }
}
