@import "../variables.scss";

.mainblockHidden
{
    background-color: aliceblue;
    padding-left: 20px;
}
.mainblockimg{
    width: 350px;
}
.cardmain{
    margin-top: 15px ;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    border: solid black 4px;
    border-radius: 30px;
    transition: all 1s ease-in-out;
    height: auto;
    width: 100vw;
}
.mainblock-left{
    // background: linear-gradient(130deg,#B9BF8C ,#AF9C7A 50%,#B9BF8C);
    background: $second-color;
}
.mainblock-right{
    background-color: $primary-color;
    
}
.cardText{
    align-self: center;
}
