@import "../variables.scss";

.mainblockHidden
{
    padding-left: 20px;
}
.mainblockimgright{
    width: 350px;
    margin-top: -5rem;
    border-radius: 1rem;
    border: solid 3px black;
}
.mainblockimgleft{
    width: 350px;
    margin-top: -5rem;
    border-radius: 1rem;
    border: solid 3px black;
}
.cardmain{
    margin-top: 8rem ;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 4rem;
    padding: 10px;
    border-radius: 30px;
    transition: all 1s ease-in-out;
    height: auto;
    width: 100vw;
}
.mainblock-left{
    // background: linear-gradient(130deg,#B9BF8C ,#AF9C7A 50%,#B9BF8C);
    
}
.mainblock-right{
    
    
}
.cardText{
    align-self: center;
}
hr{
    height: 20px;
}