@import "../variables.scss";

.recipeHeaderText
{
    color: $color-recipes;
    font-size: 3rem;
    font-weight: 800 !important;
    text-align: left;
    margin-bottom: 2rem !important;
}

.recipe-main{
    border: 4px dotted $color-recipes;
    margin-bottom: 40px;
    padding: 10px;
    .recipe-step{
        width: auto;
    }
    h3{
        margin: -8px 0px 0 0 !important;
        font-size: 3rem;
        text-align: center;
        align-self: center;
    }
    h5{
        font-size: 1.3rem;
        align-self: center;
        text-align: left;
        font-family:"coordinates";
        min-width: 422px;
        max-width: 414px;
    }
    .recipehint{
        text-align: right !important;
    }
    .recipesListImage{
        border-radius: 10px;
        
        width: 150px;
    }
}

.empty-image-recipes{
    width: 20rem;
}

.recipeHintsMain{
    text-align: left !important;
    position:inherit;
    /* Style buttons */
    .btn {
        border: none; /* Remove borders */
        padding: 2px 10px; /* Some padding */
        font-size: 25px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
        i{
            color: $color-recipes;
        }
        p{
            font-size: small;
        }
    }
}

